<section class="background-logged-out">
  <div class="forms">
    <h1>Login</h1>
    <form id="login-form" (ngSubmit)="login()">
      <input (keyup)="validateLoginForm()" id="username" type="text" name="username" [(ngModel)]="username" required placeholder="Enter your username">
      <div class="passwords">
        <input (keyup)="validateLoginForm()" id="password"  [type]="show ? 'text' : 'password'" name="password" [(ngModel)]="password" required placeholder="Enter your password">
        <img src="../../../assets/img/eye.png" (click)="showPassword()">
      </div>
      <div class="checkbox-div">
        <input id="checkbox" (click)="rememberUser()" class="checkbox" type="checkbox">
        remember me
      </div>
      <div class="button-div">
        <button [ngClass]="{'button-disabled': buttondisabled, 'button-enabled': !buttondisabled}" id="button-login">Login</button>
      </div>
       </form>

    <div *ngIf="combiError" class="error-message">{{ combiError }}</div>
    <div *ngIf="serverError" class="error-message">{{ serverError }}</div>
    <a (click)="navigateToForgotPassword()">Forgot password?</a>
    <div>New to Videoflix?
    <a (click)="navigateToRegistration()">Sign Up now</a>
    </div>
  </div>

</section>

