section{
  padding: 48px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: calc(100% - 192px);
  background-color: rgba($color: #000000, $alpha: 0.7);

  img{
    height: 32px;
    width: auto;


    &:hover{
      filter: drop-shadow(0 0 0.75rem crimson);
      cursor: pointer;

    }
  }
}
