body{
  margin: 0;
}

.background-logged-out {
  background-image: url("./assets/img/background_cinema.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

button{
  background-color: #141414;
  border-radius: 6px;
  padding: 10px 30px;
}

.button-disabled{
  color: #808080;
  border: 2px solid #808080;
}

.button-enabled{
  color: white;
  border: 2px solid white;

  &:hover{
    color: #141414;
    border: 2px solid #141414;
    background-color: white;
    cursor: pointer;

  }
}
