section {
  flex-direction: column;
  background-color: #593131;
  height: calc(100vh - 144px);
  justify-content: flex-start;
  padding-top: 144px;
  padding-bottom: 72px;
  overflow-x: auto;
}

.genre {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 96px;
  margin-right: 96px;
  margin-bottom: 48px;
  gap: 16px;
  width: 100%;
  max-width: calc(100% - 192px);

  h2 {
    font-size: 22px;
    color: white;
    margin: 0;
  }
}

.videos {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 16px;
}

.videos::-webkit-scrollbar {
  height: 8px;
  width: 4px;
  border: 1px solid black;
}

.videos::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;


  &:hover{
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.videos::-webkit-scrollbar-track {
  background-color: rgb(92, 33, 33);
  border-radius: 0;
}


.thumbnail {
  width: 213px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 1px solid transparent;
  flex: 0 0 auto;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
    border: 1px solid yellow;
  }

  span {
    margin-bottom: 8px;
  }
}

#title{
  font-size: 15px;
  font-weight: 700;
  color: white;
  padding: 4px 8px;
}

#description{
  font-size: 10px;
  font-weight: 400;
  color: red;
  padding: 2px 4px;
  white-space: break-spaces;
}

#information{
  display: none;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 216px;
  height: 122px;
  top: 0;
  left: 0;
}

.video{
  position: relative;
  white-space: normal;

  &:hover{
    cursor: pointer;

    #information{
      display: flex !important;
    }
  }
}

@media (max-width: 550px) {
  .genre{
    margin-left: 24px;
    margin-right: 24px;
    max-width: calc(100% - 92px);
  }
}

@media (max-height: 650px) {
  section{
    padding-top: 24px;
    height: calc(100vh - 24px);
  }
}

section::-webkit-scrollbar {
  width: 40px;
}

section::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border: 16px solid transparent;
  border-radius: 20px;
  background-clip: content-box;
  height: 80px;

  &:hover{
    background-color: rgba(0, 0, 0, 0.7);
  }
}

section::-webkit-scrollbar-track {
  background-color: transparent;
}

