<section>
  @if (videos.length >= 1) {
    <h1>Videos</h1>

    @for (genre of genres; track $index) {

      @if (filterVideos(genre).length >= 1) {
        <div class="genre">
          <h2>{{genre}}</h2>
          <div class="videos">
            @for (video of filterVideos(genre); track $index) {
              <div class="video" [routerLink]="['/video/' + video.id]" routerLinkActive="router-link-active">
                <div class="thumbnail" style="background-image: url({{baseUrl}}{{video.thumbnail}});">
                </div>
                <div id="information">
                  <span id="title">{{video.title}}</span>
                  <span id="description">{{video.description}}</span>
                </div>
              </div>
            }
          </div>
        </div>
      }
    }

  } @else {
    <div>There are no videos at the moment</div>
  }

</section>
