section{
  flex-direction: column;
}

.genre{
  display: flex;
  gap: 16px;
}

.thumbnail {
  width: 213px;
  height: 120px;
  background-size: cover;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;

    span{
      margin-bottom: 8px;
    }
}
