<section class="background-logged-out">
  <div class="forms">
    <h1>Reset Password</h1>
    <form id="ResetPwForm" (ngSubmit)="registerUser()">
      <input
        (keyup)="validateMailForm()"
        type="mail"
        name="resetmail"
        id="resetmail"
        [(ngModel)]="email"
      />
      <div class="button-div">
        <button
          [ngClass]="{
            'button-disabled': buttondisabled,
            'button-enabled': !buttondisabled
          }"
          id="submitBtnResetPw"
          disabled
        >
          Reset Password
        </button>
      </div>
    </form>

    <div *ngIf="emailError" class="error-message">{{ emailError }}</div>
    <div *ngIf="serverError" class="error-message">{{ serverError }}</div>
  </div>
</section>
